<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
        <init-param>
            <description>
                Path to configuration file can be relative path inside application,
                absolute path on local file system or UNC path.
            </description>
            <param-name>XMLConfig</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern>
            /ckplugin/ckfinder/core/connector/java/connector.java
        </url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error/page404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/page500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/page500.jsp</location>
    </error-page>
    
    <context-param>
        <param-name>emailuser</param-name>
        <param-value>osxunixl@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>emailpass</param-name>
        <param-value>Osxunix97</param-value>
    </context-param>
    
</web-app>
